/* ! HEADER */
.header {
	display: flex;
	justify-content: center;
	padding: 1rem;
	background: #FFC26F;
	position: sticky;
	top: 0;
}

.header-inner {
	min-width:  1100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 1rem;
}

.header-menu {
	display: flex;
	gap: 20px;
}

.header-inner svg {
	font-size: 1.5rem;
}

/* ! FOOTER */
.footer {
	position: sticky;
	bottom: 0;
	display: flex;
	padding: 1rem 0.5rem;
	justify-content: center;
	width: 768px;
	background: white;
	margin: 0 auto;
}

.footer__inner {
	display: flex;
	width: 768px;
	justify-content: space-evenly;
}

/* ! CONTAINER */
.container {
	min-height: 100vh;
	display: flex;
	justify-content: center;
}

.container-inner {
	width: 100%;
	max-width: 1100px;
  display: flex;
  gap: 2rem;
}

/* ! HOMEPAGE */
.homepage__discussion-wrapper {
  flex-basis: 768px;
  background: red;
  height: 100vh;
  padding: 2rem;
}

.homepage__sidebar-wrapper {
  flex: 1;
  background: blue;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.homepage__sidebar__trending {
  background: lightblue;
  width: 100%;
  flex-basis: 300px;
}

.homepage__sidebar__leaderboard {
  background: yellow;
  width: 100%;
  flex: 1;
}




.login-form {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.form-container {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.form__content__inner > input {
	padding: 5px 10px;
	width: 100%;
	border-radius: 5px;
	border: 1px solid black;
}

.button-submit-form {
	background: #FFC26F;
	border: none;
	padding: 10px;
	border-radius: 5px;
}
